<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> 

<form action=/resultado_get method='get'>
  nome = <input type='text' name='nome'><br>
  email = <input type='text' name='email'><br>
  idade = <input type='number' name='idade'><br>
  comentario = <textarea name='comentario'></textarea><br> 
  aceita_regras = <input type='checkbox' name='aceita_regras'><br> 
  <input type='submit' value='Enviar'> 
  
</form>
  